body {
    background-color: black;
    padding: 25px;
    justify-content: center;
}

header {
    position: sticky;
    top:0;
    background-color: rgb(115, 190, 255);
    margin: 15px;
    padding: 10px 25px;
}

nav {
    position: sticky;
    top:0;
    background-color: rgb(115, 190, 255);
    border-radius: 15px;
    margin: 15px;
    padding:25px;
    z-index: 50;
}

.flex-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

h1{
    margin-top: 0px;
}

footer {
    background-color: rgba(110, 255, 240, 0.795);
    border: 4px solid rgba(157, 255, 245, 0.795);
    border-radius: 15px;
    margin: 15px;
}

section {
    background-color: rgba(110, 255, 240, 0.795);
    border: 4px solid rgba(157, 255, 245, 0.795);
    border-radius: 15px;
    margin: 15px;
    transition-property: border, padding;
    transition-timing-function: linear;
    transition-duration: .2s;   
    padding: 25px;
}

section:hover {
    padding: 25px;
    border-width: 2px;
}

nav ul {
    display: inline-flex;
}

nav li {
    display: inline;
}

a {
    background-color: rgba(114, 44, 255, 0.816);
    color: rgb(212, 243, 255);
    border: 2px solid rgba(25, 10, 53, 0.816);
    border-radius: 15px;
    padding: 10px;
    margin:5px;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    transition-property: background-color, border, margin, padding;
    transition-timing-function: linear;
    transition-duration: .2s;
}

a:hover {
    background-color: rgba(134, 74, 255, 0.771);
    border-width: 0px 0px 4px 4px;
    padding: 11px;
    margin: 7px 7px 3px 3px;
}

figure {
    justify-self: center;
    justify-content: center;
    margin: 0px 25%;
    width: 50%;
}

img {
    width: 100%;
    border: 2px solid black;
    border-radius: 4px;
}

.piclayout {
    display: grid;
    padding: 25px;
    grid-template-columns: 40% 40%;
    justify-content: center;
    gap: 10px;
}

.flex-layout {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(255, 227, 181, 0.403);
    margin: 25px;
    border-radius: 15px;
    padding: 10px;
}

.flex-layout img {
    width: 30%;
    margin: 20px;
}